
#friis-new {
    padding: 0;
    margin: 30px 125px 0 125px;
}
.calculator-results .results-calc-h4 {
    font-weight: var(--fontWeightBold);
    font-size: var(--fontSize14);
    line-height: var(--lineHeight1andQ);
    letter-spacing: 0.03rem;
    color: #000000;
}

#friis-img1 .cmp-image__image {
    margin: 100px 0 0 0;
    height: auto;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
	padding: 0 0 0 100px;

}
#friis-new-img2 .cmp-image__image {
    margin: 0px 0 0 50px;
    height: auto;
    width: 80%;
    display: flex;
    justify-content: center;
    align-items: center;
}
#friis-new .aem-Grid {
    display: inline-flex;
}

#friis-img2{
margin: 0px 0 0 100px;
}
@media screen and (max-width: 767px) {
#friis-new .aem-Grid {
    display: inline-block;
}
#friis-new {
	padding: 0;
    text-align: center;
    margin: 30px;
}
#friis-img1 .cmp-image__image {
    padding: 0;
    margin: 0;
    max-width: 100%;
}
#friis-img2 .cmp-image__image {
    margin: 0;
    width: 100%;
}
.title-block-cls h1 {
    font-weight: var(--fontWeightBold);
    font-size: var (--fontSize24);
    line-height: var(--lineHeight2and1Q);
    text-align: center;
    color: var(--secondaryBlack);
}
#friis-img2 {
    margin: 0;
}
}

@media screen and (min-width: 768px)and (max-width: 991px) {
#friis-new .aem-Grid {
    display: inline-flex;
}
#friis-new {
	padding: 0;
    max-width: 80%;
    margin: 0 auto;
}
#friis-img1 .cmp-image__image {
    margin: 100px 0 0 0;
    width: 100%;
    padding: 0;
}
    .title-block-cls h1 {
    font-weight: var(--fontWeightBold);
    font-size: var (--fontSize24);
    line-height: var(--lineHeight2and1Q);
    text-align: center;
    color: var(--secondaryBlack);
}
#friis-img2 .cmp-image__image {
    display: flex;
    padding: 0;
    margin: 0 0 0 50px;
    width: 100%;
    height: 100%;
}
#friis-img2 {
    margin: 20px;
}

}
