.rf-container {
	margin: 0 auto;
	padding: 0 24px;
}

.disabled {
	background: var(--btnDisabledLight);
	color: var(--secondaryColor);
	pointer-events: none;
}

.radio-container {
	display: block;
	position: relative;
	padding-left: 35px;
	margin-bottom: 12px;
	cursor: pointer;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}

/* Hide the browser's default radio button */
.radio-container input {
	position: absolute;
	opacity: 0;
	cursor: pointer;
}

/* Create a custom radio button */
.radio-container .checkmark {
	position: absolute;
	top: 0;
	left: 0;
	height: 20px;
	width: 20px;
	border-radius: 50%;
	border: 1.5px solid var(--primaryColor);
}

/* On mouse-over, add a grey background color */
.radio-container:hover input~.checkmark {
	border: 1.5px solid var(--primaryColor);
}

/* When the radio button is checked, add a blue background */
.radio-container input:checked~.checkmark {
	background-color: var(--blueColorDark);
	border: 0;
}

/* Create the indicator (the dot/circle - hidden when not checked) */
.radio-container .checkmark:after {
	content: "";
	position: absolute;
	display: none;
}

/* Show the indicator (dot/circle) when checked */
.radio-container input:checked~.checkmark:after {
	display: block;
}

/* Style the indicator (dot/circle) */
.radio-container .checkmark:after {
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	margin: auto;
	width: 8px;
	height: 8px;
	border-radius: 50%;
	background: var(--secondaryColor);
}

/* radio button styling end*/
/* checkbox styling start*/
/* The container */
.checkbox-container {
	display: block;
	position: relative;
	padding-left: 30px;
	margin-bottom: 12px;
	cursor: pointer;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}

/* Hide the browser's default checkbox */
.checkbox-container input {
	position: absolute;
	opacity: 0;
	cursor: pointer;
	height: 0;
	width: 0;
}

/* Create a custom checkbox */
.checkbox-container .checkmark {
	position: absolute;
	top: 0;
	left: 0;
	height: 20px;
	width: 20px;
	border-radius: 3px;
	border: 1.5px solid var(--primaryColor);
}

/* On mouse-over, add a grey background color */
.checkbox-container:hover input~.checkmark {
	border: 1.5px solid var(--primaryColor);
}

/* When the checkbox is checked, add a blue background */
.checkbox-container input:checked~.checkmark {
	background-color: var(--blueColorDark);
	border: 1.5px solid var(--blueColorDark);
}

/* Create the checkmark/indicator (hidden when not checked) */
.checkbox-container .checkmark:after {
	content: "";
	position: absolute;
	display: none;
}

/* Show the checkmark when checked */
.checkbox-container input:checked~.checkmark:after {
	display: block;
}

/* Style the checkmark/indicator */
.checkbox-container .checkmark:after {
	left: 7px;
	top: 2px;
	width: 5px;
	height: 11px;
	border: solid var(--secondaryColor);
	border-width: 0 2px 2px 0;
	-webkit-transform: rotate(45deg);
	-ms-transform: rotate(45deg);
	transform: rotate(45deg);
}

/* cehckbox styling end */
/* filter styling */
.rf_cabledesigner_main_page .filter-container {
	border: 1px solid var(--secondaryBtnVisited);
	border-radius: 4px;
}

.rf_cabledesigner_main_page .filter_title {
	font-size: var(--baseFontSize);
	font-weight: var(--fontWeightNormal);
	margin-bottom: 6px;
	line-height: var(--baseLineHeight);
}

.rf_cabledesigner_main_page #filter_selection .card {
	margin-bottom: 20px;
}

.rf_cabledesigner_main_page #filter_selection .card.active_card .reset_btn {
	display: block;
}

.rf_cabledesigner_main_page .reset_btn {
	color: var(--blueColorDark);
	font-size: var(--baseFontSize);
	position: absolute;
	right: 20px;
	top: 20px;
	display: none;
	line-height: var(--baseLineHeight);
}

.list-group-item {
	border: 0;
	padding: .625rem 0.35rem .625rem 0.55rem;
	cursor: pointer;
	display: flex;
	align-items: center;
}

.list-group-item .icon_section {
	margin-right: 10px;
	visibility: hidden;
}

.list-group-item.item-selected {
	font-weight: var(--fontWeightBold);
}

.list-group-item.item-selected .icon_section {
	visibility: visible;
}

.filter-container .form-control {
	border: 0;
	border-bottom: 1px solid var(--secondaryBtnVisited);
	padding: 0 0 0 10px;
}

.filter-container .form-control:focus {
	outline: 0;
}

.filter-container .search_wrap {
	padding: 0 15px;
	border-bottom: 1px solid var(--secondaryBtnVisited);
	color: var(--btnDisabledLight);
}

.search_wrap label {
	margin-bottom: 0;
}

/* filter styling end */
input:-webkit-autofill-selected {
	background-color: transparent;
}