<sly
   data-sly-use.clientlib="/libs/granite/sightly/templates/clientlib.html"
   data-sly-call="${clientlib.css @ categories='TechnicalArticleAll'}" />
<sly data-sly-use.tacfmap="com.aem.ie.core.models.TACFModel">
   <div class="technicalresources_articles_container" data-sly-list.key1="${tacfmap.TechnicalArticlesMyHashMap}">
      <div class="technical_resources_articles analytictechnicalarticles">
         <div class="technical-articles-box">
            <p class="technical-articles-title">${key1 @ context='html'}</p>
  <div class="white-desc"><p class="broucherDesc technical-articles-description">${tacfmap.TechnicalArticlesMyHashMap[key1] @ context='html'}</p></div>
<div data-sly-list.key2="${tacfmap.TechnicalArticlesImageMyHashMap}">

<sly data-sly-test="${key2 == key1}">
<a class="ie-tertiary-link font-weight-500 articleView" href="${tacfmap.TechnicalArticlesImageMyHashMap[key2]}" title="${properties.pdfname}">${properties.pdfname}</a>
</sly>
</div>
</div>
</div>
 </div>
</sly>

