@media screen and (min-width: 834px) {
    .fm-mobile-navigation {
        display: none;
    }
}

@media screen and (max-width: 833px) {
    .fm-mobile-navigation {
        display: block;
    }
    .fade-mode {
        background: transparent;
        opacity: 1;
        cursor: pointer;
    }
   
}

.fm_Logomobile {
    width: 154px;
    height: 23px;
}

.herobanner .cmp-teaser {
    height: 100%;
    width: 100%;
    margin: 0 auto;
}

#sidebarMenu {
    height: 100%;
    position: fixed;
    left: 0;
    top: 0;
    width: 327px;
    overflow-y: auto;
    overflow-x: hidden;
    background: var(--secondaryColor);
    z-index: 999;
}


/*Hamburger on click*/

.hamburger_top_inside {
    border-bottom: 1px solid var(--secondaryBtnVisited);
    padding: 30px 0 23px 19px;
    align-items: center;
    justify-content: start;
    display: flex;
}

.hamburger_top_inside .fa-solid,
.fas {
    font-size: var(--fontSize31);
    font-weight: var(--fontWeightSmall);
    width: 19px;
    color: var(--primaryColor);
}

.hamburger_top_inside img {
    vertical-align: top;
    padding-left: 10px;
}

ul.menu {
    padding: 10px 0 16px 0;
    list-style: none;
    margin: 0;
    border-bottom: 1px solid var(--secondaryBtnVisited);
}

ul.menu li.menu_item {
    padding: 10px 20px;
}

ul.menu li.menu_item:first-child {
    padding: 0 20px 10px 20px;
}

ul.menu li.menu_item a {
    font-size: var(--baseFontSize);
    line-height: var(--baseLineHeight);
    color: var(--primaryColor);
    font-weight: var(--fontWeightNormal);
}

.hamburger_right_icon:after {
    content: " ";
    border-right: 2px solid var(--SearchIcon);
    border-top: 2px solid var(--SearchIcon);
    width: 10px;
    height: 10px;
    transform: rotate(45deg);
    cursor: pointer;
    display: block;
    position: absolute;
    top: 37%;
}

.hamburger_right_icon:hover:after {
    border-right: 2px solid var(--invertedColor);
    border-top: 2px solid var(--invertedColor);
}

.sidebarIconToggle .fa-solid {
    font-size: var(--fontSize22);
    line-height: var(--lineHeightSmall);
    margin-top: 5px;
}

.hamburger_links_below {
    padding-top: 26px;
    padding-left: 18px;
}

.hamburger_links_below .hamburger_sign_in_link a,
.hamburger_links_below .hamburger_chat_link button,
.hamburger_links_below .hamburger_call_link a,
.hamburger_links_below .hamburger_sign_out_link {
    line-height: var(--baseLineHeight);
    color: var(--primaryColor);
    font-weight: var(--fontWeightNormal);
}
.hamburger_links_below .hamburger_chat_link button{
    outline: 0;
    background: none;
    border: none;
    cursor: pointer;
	padding: 0;
    margin-left: 7px;
}


.hamburger_links_below .hamburger_call_link a:hover,
.hamburger_links_below .hamburger_sign_in_link a:hover {
    text-decoration: none;
}

.hamburger_links_below .hamburger_sign_out_link:hover {
    text-decoration: none;
}

.menu li {
    border-bottom: 1px solid rgba(255, 255, 255, 0.1);
}

.menu li a {
    display: block;
    text-decoration: none;
    font-weight: var(--fontWeightBold);
    font-size: var(--fontSize14);
    line-height: var(--baseLineHeight);
    color: var(--tabPanelClr);
}

#openSidebarMenu:checked~#sidebarMenu {
    z-index: 9999!important;
}

input#openSidebarMenu {
    display: none;
}

.sidebarIconToggle {
    height: 21px;
    width: 25px;
    position: absolute;
    z-index: 99;
    top: 12px;
    left: 0px;
    cursor: pointer;
    display: block;
}

.sidebarIconToggle.active {
    display: none;
}

.hamburger_links_icon {
    float: left;
    border-radius: 50%;
    background: var(--secondaryBtnVisited);
    padding: 5px 10px;
    margin-right: 5px;
}

.hamburger_sign_in_link,
.hamburger_call_link,
.hamburger_sign_out_link {
    vertical-align: -webkit-baseline-middle;
    padding-left: 10px;
    font-weight: var(--fontWeightNormal);
}

.hamburger_sign_out_link {
    cursor: pointer;
}

.active {
    display: none;
}

.overlay {
    position: fixed;
    width: 100%;
    height: 100%;
    z-index: 2;
    cursor: pointer;
    top: 0;
    bottom: 0;
    right: 0;
    left: 327px;
    inset: 0 0 0 327px;
    background: rgba(0, 0, 0, 0.5);
    visibility: hidden;
    display: none;
}

.overlay.active {
    visibility: visible;
    display: block;
}


/* megamenu - products, industries for mobile css starts */

@media screen and (max-width: 833px) {
    #productstable-mob .products-data .categoryId,
    #productstable-mob .products-data .categorytaxonomyPath,
    #productstable-mob .products-data .categorythumbnailUrl,
    #productstable-mob .products-data .categoryName,
    .products-table-wrapper {
        display: none;
    }
    .hide {
        display: none;
    }
    .show {
        display: block;
    }
    #productstable-mob .products-data .categoryName.show,
    .products-table-wrapper.show {
        display: block;
        cursor: pointer;
    }
    .menu li {
        position: relative;
    }
    .products-btn.mob {
        padding: 0;
        position: relative;
        width: 100%;
        margin: 0;
        text-align: left;
        font-weight: var(--fontWeightNormal);
    }
    .products-btn.mob .hamburger_right_icon,
    .products-btn.mob span,
    .navigation-menu-mob a span,
    .navigation-menu-mob a .hamburger_right_icon {
        font-weight: var(--fontWeightSmall);
        font-size: var( --fontSize20);
        line-height: var(--lineHeight1andQ);
        color: var(--SearchIcon);
        float: right;
        margin-right: 24px;
        display: block;
    }
    .menu .navigation-menu-mob:first-child a span,
    .menu li:nth-child(2) a span {
        display: block;
    }
    .menu .navigation-menu-mob a span {
        display: none;
    }
    .fade-mode {
        opacity: 1;
        background: none;
        pointer-events: auto;
    }
    .back-to-menu {
        display: none;
    }
    .back-to-menu.active,
    .back-to-menu-industries {
        display: block;
        font-weight: var(--fontWeightSmall);
        font-size: var(--fontSize14);
        line-height: var(--baseLineHeight);
        color: var(--primaryColor);
        outline: none;
        border: none;
        background: transparent;
        padding: 11px 0 7px;
        margin: 0;
    }
    .back-to-menu .fa-thin.fa-angle-left,
    .back-to-menu-industries .fa-thin.fa-angle-left {
        font-family: var(--fontfamilyIcon);
        font-weight: var(--fontWeightBolder);
        font-size: var(--baseFontSize);
        line-height: var(--baseLineHeight);
        color: var(--primaryColor);
        margin: 0 6px 0 20px;
    }
    .back-to-menu.active+ul.menu {
        padding-top: 0;
    }
    .productsbtn-mob {
        display: none;
    }
    .productsbtn-mob.active {
        margin-bottom: 0;
        padding-bottom: 12px;
        border-bottom: 1px solid var(--secondaryBtnVisited);
        padding-left: 20px;
        font-weight: var(--fontWeightBold);
        font-size: var(--baseFontSize);
        line-height: var(--baseLineHeight);
        color: var(--primaryColor);
        display: block;
        border: none;
        background: none;
    }
    .products-active {
        border-bottom: none;
    }
    .products-btn.mob.active {
        display: none;
    }
    .products-btn.mob.active span {
        display: none;
    }
    .productsbtn-mob.active:active,
    .productsbtn-mob.active:focus,
    .productsbtn-mob.active:focus-visible {
        border: none;
        outline: none;
    }
    .products-btn.mob.active {
        padding: 18px 0 0 29px;
        top: 166px;
        left: 0;
        width: 100%;
        max-width: 327px;
    }
    .products-table-wrapper.show {
        position: relative;
        top: 0;
        left: 0;
        padding: 0;
    }
    .products-btn.mob.active+.products-table-wrapper.show #productstable-mob .products-data,
    .products-btn.mob.active+.products-table-wrapper.show #productstable-mob tr td,
    .products-btn.mob.active+.products-table-wrapper.show #productstable-mob tr td a {
        font-weight: var(--fontWeightBold);
        font-size: var(--fontSize14);
        line-height: var(--baseLineHeight);
        color: var(--primaryColor);
    }
    .products-btn.mob.active+.products-table-wrapper.show #productstable-mob tr td a {
        padding-bottom: 0;
    }
    .products-btn.mob.active+.products-table-wrapper.show #productstable-mob .products-data .categoryName.show,
    .products-btn.mob.active+.products-table-wrapper.show #productstable-mob .products-data .categoryName.show a {
        display: block;
        font-weight: var(--fontWeightBold);
        font-size: var(--fontSize14);
        line-height: var(--baseLineHeight);
        color: var(--primaryColor);
    }
    .products-btn.mob.active+.products-table-wrapper.show #productstable-mob .products-data .categoryName.show,
    .products-btn.mob.active+.products-table-wrapper.show #productstable-mob tr td,
    .products-btn.mob.active+.products-table-wrapper.show #productstable-mob tr td {
        padding: 0;
        padding-bottom: 15px;
        text-align: left;
        width: 100%;
    }
    .products-btn.mob.active+.products-table-wrapper.show #productstable-mob .products-data .categoryName.show span,
    .products-btn.mob.active+.products-table-wrapper.show #productstable-mob .products-data .categoryName.show a,
    .products-btn.mob.active+.products-table-wrapper.show #productstable-mob .products-data .categoryName.show {
        display: inline-block;
    }
    .products-btn.mob.active+.products-table-wrapper.show #productstable-mob .products-data .categoryName.show span {
        transform: rotate(90deg);
        -webkit-transform: rotate(90deg);
        float: right;
        font-weight: var(--fontWeightSmall);
        font-size: var(--fontSize14);
        line-height: var(--baseLineHeight);
        color: var(--SearchIcon);
        margin-right: 17px;
    }
    .menu.industries-font-bold {
        padding: 0;
        border-bottom: none;
    }
    .menu.industries-font-bold #industries a {
        font-weight: var(--fontWeightBold);
        font-size: var(--baseFontSize);
        line-height: var(--baseLineHeight);
        color: var(--primaryColor);
        padding-bottom: 30px;
    }
    .menu.industries-font-bold #industries a span {
        display: none;
    }
    .menu.industries-font-bold #industries .submenu-mob {
        padding: 0;
        padding-left: 9px;
        list-style-type: none;
    }
    .menu.industries-font-bold #industries .submenu-mob li,
    .menu.industries-font-bold #industries .submenu-mob li a {
        font-weight: var(--fontWeightSmall);
        font-size: var(--baseFontSize);
        line-height: var(--baseLineHeight);
        color: var(--primaryColor);
        padding-left: 0;
        list-style-type: none;
    }
    .menu.industries-font-bold #industries .submenu-mob li a {
        padding: 0;
        padding-bottom: 15px;
    }
    .menu.industries-font-bold #industries .submenu-mob li a:active,
    .menu.industries-font-bold #industries .submenu-mob li a:focus,
    .menu.industries-font-bold #industries .submenu-mob li a:target,
    .menu.industries-font-bold #industries .submenu-mob li a.activeLink {
        color: var(--invertedColor);
        font-weight: var(--fontWeightBold);
    }
    .menu.industries-font-bold #industries {
        border-bottom: none;
    }
	.hamburger_links_below .hamburger_chat_link button{
		padding: 0;
    	margin-left: 7px;
    }
}

#signOutBtnTextHamB .hamburger_links_icon {
    display: none;
}

.hamburger_links_icon .signinicon,
.hamburger_links_icon .callUSicon {
    font-size: 14px;
    color: black;
}