<section class="row container-fluid engineer-buyer-component">
  <div class="engineer analyticengineer">
    <div class="engineer_img">
      <img alt="${properties.titleone}" src="${properties.image}" loading="lazy"/>
    </div>
    <div class="engineer_content">
      <h3 class="engineer_title">${properties.titleone}</h3>
      <p class="engineer_desc">${properties.descriptionone}</p>

      <div class="engineer_links">
        <div aria-label="${properties.iconnameone}" class="engineer_btn">
          <span class="engineer-icon"><i class="fa-light fa-gear font-24"></i></span>
          <a title="${properties.iconnameone}" role="link" href="${properties.iconlinkone}" 
          >${properties.iconnameone}</a>
        </div>
     
        <div aria-label="${properties.iconnametwo}" class="engineer_btn">
          <span class="engineer-icon"><i class="fa-light fa-notebook font-24"></i></span>
          <a title="${properties.iconnametwo}" role="link" href="${properties.iconlinktwo}" 
            >${properties.iconnametwo}</a
          >
        </div>

        <div aria-label="${properties.iconnamethree}"  class="engineer_btn">
          <span class="engineer-icon"><i class="fa-light fa-calculator font-24"></i></span>
          <a title="${properties.iconnamethree}" role="link" href="${properties.iconlinkthree}" 
            >${properties.iconnamethree}</a
          >
        </div>
      </div>
    </div>
  </div>
  <div class="buyer analyticbuyer">
    <div class="buyer_img">
      <img alt="${properties.titletwo}" src="${properties.imagebuyer}" loading="lazy"/>
    </div>
    <div class="buyer_content">
      <h3 class="buyer_title">${properties.titletwo}</h3>
      <p class="buyer_desc desc_link_gap">${properties.descriptiontwo}</p>

      <div class="buyer_links">
        <div aria-label="${properties.iconnameoneb}"  class="buyer_btn">
          <span class="buyer-icon"><i class="fa-light fa-user-headset font-24"></i></span>
          <a title="${properties.iconnameoneb}" role="link" href="${properties.iconlinkoneb}" 
            >${properties.iconnameoneb}</a
          >
        </div>

        <div aria-label="${properties.iconnametwob}" class="buyer_btn">
          <span class="buyer-icon"><i class="fa-light fa-comment-dots font-24"></i></span>
          <a title="${properties.iconnametwob}" role="link" href="${properties.iconlinktwob}" 
            >${properties.iconnametwob}</a
          >
        </div>

        <div aria-label="${properties.iconnamethreeb}"  class="buyer_btn">
          <span class="buyer-icon"><i class="fa-light fa-file-circle-info font-24"></i></span>
          <a title="${properties.iconnamethreeb}" role="link" href="${properties.iconlinkthreeb}" 
            >${properties.iconnamethreeb}</a>
        </div>
      </div>
    </div>
  </div>
</section>
