
/*balanced-attn*/


#bridged-tee {
    margin: 30px 100px 0 200px;
}
#bridged-tee .cmp-image {
    margin-top: 0; 
}
#bridged-tee1 .cmp-image__image {
    margin: 50px 0 0 0;
    height: auto;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
#bridged-tee2 .cmp-image__image {
    margin: 0 0 0 100px;
    height: auto;
    width: 80%;
    display: flex;
    justify-content: center;
    align-items: center;
}
#bridged-tee .aem-Grid {
    display: inline-flex;
}

@media screen and (max-width: 767px) {
#bridged-tee .aem-Grid {
    display: inline-block;
}
#bridged-tee {
    text-align: center;
    margin: 0;
}
#bridged-tee1 .cmp-image__image {
    margin: 0 0 20px 0;
    height: auto;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
#bridged-tee2 cmp-image__image {
     justify-content: center;
    margin: 0 0 0 60px;
    height: auto;
    width: 50%;
}
.title-block-cls h1 {
    font-weight: var(--fontWeightBold);
    font-size: 1.5rem;
    line-height: 2.25rem;
    text-align: center;
    color: var(--secondaryBlack);
}
}

@media screen and (min-width: 768px)and (max-width: 991px) {
#bridged-tee .aem-Grid {
    display: inline-flex;
}
#bridged-tee {
    max-width: 80%;
    margin: 0 auto;
}
#bridged-tee1 .cmp-image__image {
    margin: 50px 0 0 0;
    
}
    .title-block-cls h1 {
    font-weight: var(--fontWeightBold);
    font-size: 1.75rem;
    line-height: 2.625rem;
    text-align: center;
    color: var(--secondaryBlack);
}
#bridged-tee2 .cmp-image__image{
    margin: 20px 0 0 20px;
    height: auto;
    width: 80%;
    display: flex;
    justify-content: center;
    align-items: center;
}
}