<template data-sly-template.message="${@ resourceCardModel}">
  <div class="prod-detail-section">
    <div class="container" style="">
      <div class="col-md-12 p-0">
        <div class="row gx-2 justify-center">
          <sly data-sly-list.resourceCard="${resourceCardModel.resourceCards}">
            <div
              class="prouct-item col-sm-12 ${properties.displayType == '3' ? 'col-md-4 col-lg-4' : 'col-md-3'}"
            >
              <div
                class="product-box ${properties.displayType == '3' ? 'col-md-12 col-lg-12' : 'col-md-12'}"
              >
                <div class="prod_img text-center">
                  <img
                    src="${resourceCard.image}"
                    alt="${resourceCard.imagetitle}"
                  />
                </div>
                <div class="prod_desc text-center">
                  <h4 class="desc-head">${resourceCard.title}</h4>
                  <p class="desc-para">${resourceCard.description}</p>
                </div>
                <div
                  class="prod_btn text-center"
                  data-sly-set.myPath="${resourceCard.resourceLink}"
                >
                  <button
                    type="button"
                    id="shopNow"
                    class="shop-btn"
                    title="${resourceCard.ctatitle}"
                    onclick="location.href ='${myPath @ context='html'}'"
                  >
                    ${resourceCard.ctatitle}
                  </button>
                </div>
              </div>
            </div>
          </sly>
        </div>
      </div>
    </div>
  </div>
</template>
