<sly data-sly-use.clientlib="/libs/granite/sightly/templates/clientlib.html"
	 data-sly-call="${clientlib.css @ categories='productvideoblock-clientlib'}" />

<div class="product-videoblock-new">
	<div class="row product-help-block">
		<div class="col-md-6 vediosection">
			<div class="bs-example" data-example-id="responsive-embed-16by9-iframe-youtube">
				<div class="embed-responsive embed-responsive-16by9">
					<iframe class="embed-responsive-item"  allowfullscreen="" height="315" src="${properties.videourl}">
					</iframe>
				</div>
			</div>
		</div>
		<div class="col-md-6 videoDetails">
			<h3>${properties.videotitle}</h3>
			${properties.videoDesc @context = 'html'}
		</div>
	</div>
</div>

