<sly
data-sly-use.clientlib="/libs/granite/sightly/templates/clientlib.html"
data-sly-call="${clientlib.all @ categories='innerbanner'}" />
      <section class="bannerInnerLR">
        <div class="bannerInnerLR_section">
          <div class="bannerInnerLR_content">
            <div class="bannerInnerLR_content_textarea">
            <h1 class="bannerInnerLR_heading">${properties.bannertitle}</h1>
            <div class="bannerInnerLR_description">${properties.bannerdescription @context='html'}</div>
            </div>
           </div> 
            <figure class="bannerInnerLR_image">
              <img src="${properties.bannerimage}" alt="${properties.bannertitle}" width="640" height="388"/>
            </figure>
        </div>
      </section>