.featured-blog-post {
    padding: 0 34px 0 24px;
    margin: 0 auto;
    width: 1280px;
    max-width: 100%;
}
/*.blog-post-heading-description-wrapper {
    margin-bottom: 23px;
}
.blog-post-main-heading {
    font-weight: var(--fontWeightBold);
    font-size: var(--fontSize31);
    text-align: center;
    margin: 0 auto;
} */
.blog-post-main-description {
    margin: 8px auto;
    text-align: center;
    font-weight: var(--fontWeightSmall);
    line-height: 1.5;
}
.blog-post-card-wrapper {
    margin: 0 auto;
}
.blog-post-card-wrapper .col-3 {
    margin: 0;
    padding: 0 12px;
    margin-bottom: 28px;
}

.blog-post-card-wrapper .col-3:first-child {
    padding-left: 0;
}
.blog-post-card {
    padding:20px 24px;
    background: var(--secondaryColor);
    border: 1px solid var(--SearchIcon);
    margin: 0;
    border-radius: 4px;
}
.blog-description-wrapper{
    height: 152px;
    overflow: hidden;
}
.blog-post-card-label {
    background: var(--cardLableClr);
    border-radius: 4px;
    display: flex;
    gap: 11px;
    flex-wrap: wrap;
    max-height: 86px;
    overflow: hidden;
}
.blog-post-card-label a:hover {
    cursor: pointer;
}
.blog-post-card-label .label {
    padding: 4px 8px;
    font-weight: var(--fontWeightBold);
    font-size: var(--fontSize12);
    line-height: var(--lineHeight1and12);
    color: var(--blueColorDark);
    width: fit-content;
    height: 21px;
    cursor: pointer;
    margin: 0;
    background-color: var(--tagBgColor);
    border-radius: 4px;
}
.blog-heading-description-wrapper {
    margin: 16px 0;
}
.blog-heading-publish-wrapper {
    margin-bottom: 12px;
}
.blog-card-heading {
    font-weight: var(--fontWeightBold);
    font-size: var(--fontSize18);
    line-height: var(--lineHeight1and67);
    margin-bottom: 4px;
    text-align: left;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
}
.blog-card-publishDate {
    font-weight: var(--fontWeightSmall);
    font-size: var(--fontSize12);
    line-height: var(--lineHeight1and12);
    color: var(--newsDateColor);
    text-align: left;
    margin: 0;
}
.blog-description {
    color: var(--newsDateColor);
    font-size: var(--fontSize14);
    line-height: 20px;
    font-weight: var(--fontWeightSmall);
    margin-top:0;
}
.blog-description p {
    display: -webkit-box;
    -webkit-line-clamp: 7;
    -webkit-box-orient: vertical;
    overflow: hidden;
    line-height: var(--lineHeight1and428);
    margin-top: 0;
   }
   .blog-description  p:not(:first-child){
    display: none;
   }
.blog-card-read-more {
    font-weight: var(--fontWeightNormal);
    font-size: var(--fontSize14);
    color:var(--darkBlue);
    line-height: var(--lineHeight1and12);
    margin: 0;
    text-align: left;
    cursor: pointer;
    text-decoration: none;
}
a.blog-card-read-more:hover {
    color:var(--secondaryLinkNormal);
}
a.blog-card-read-more:active {
    color:var(--secondaryLinkActive);
}
.featured-blog-post .slick-next:hover {
    background: var(--secondaryColor);
    color: var(--btnDisabledLight);
}
.featured-blog-post .slick-prev, .featured-blog-post .slick-next {
    background: var(--secondaryColor);
    box-shadow: 0 4px 10px rgb(0 0 0 / 5%);
    z-index: 100;
    border-radius: 50%;
    width: 40px;
    height: 40px;
}
.featured-blog-post .slick-prev {
    border: 1px solid var(--btnDisabledLight);
}
.featured-blog-post .slick-prev.slick-arrow::before {
    content: "\f060";
	font-family: var(--fontfamilyIcon);
	color: var(--invertedColor);
}
.featured-blog-post .slick-prev.slick-arrow.slick-disabled, .featured-blog-post .slick-next.slick-arrow.slick-disabled {
    background: var(--secondaryColor);
    color: transparent;
    border: 1px solid var(--btnDisabledLight);
}
.featured-blog-post .slick-prev.slick-arrow.slick-disabled::before {
    content: "\f060";
	font-family: var(--fontfamilyIcon);
	color: var(--btnDisabledLight);
    opacity: 1;
}
.featured-blog-post .slick-next.slick-arrow,
.featured-blog-post .slick-prev.slick-arrow {
    color: var(--invertedColor);
    background: var(--secondaryColor);
    border: 1px solid var(--invertedColor);
}
.featured-blog-post .slick-next.slick-arrow::before {
    content: "\f061";
	font-family: var(--fontfamilyIcon);
	color: var(--invertedColor);
}
.featured-blog-post .slick-next.slick-arrow.slick-disabled::before {
	content: "\f061";
	font-family: var(--fontfamilyIcon);
	color: var(--btnDisabledLight);
    opacity: 1;
}
.featured-blog-post .slick-dots li {
    margin: 0;
}
.featured-blog-post .slick-dots li button {
    border-radius: 50%;
    width: 10px;
    height: 10px;
    background: var(--secondaryBtnVisited);
    border: 0;
    cursor: pointer;
    margin-top: 5px;
    margin-left: 5px;
}
.featured-blog-post .slick-dots li button:before {
    color: transparent;
}
.featured-blog-post .slick-dots li.slick-active button {
    background: var(--newsDateColor);
}

/* mobile view */

@media screen and (max-width: 833px) {
    .featured-blog-post {
        padding: 25px 30px 50px;
    }
    .blog-post-heading-description-wrapper {
        margin-bottom: 16px;
    }
    .news-post-main-heading{
        font-size: var(--fontSize14);
    }
    .blog-post-main-description {
        margin: 15px auto 0;
        font-size: var(--fontSize12);
        width: 90%;
    }
    .blog-heading-description-wrapper {
        margin: 16px 0;
    }
    .blog-description {
        -webkit-line-clamp: 5;
    }
    .blog-post-card-wrapper .col-3 {
        margin-bottom: 28px;
    }
    .blog-post-card {
        padding: 20px 24px;
    }
}

@media screen and (max-width: 360px) {
    .blog-post-main-description {
        width: 100%;
    }
}