<sly
data-sly-use.clientlib="/libs/granite/sightly/templates/clientlib.html"
data-sly-call="${clientlib.css @ categories='payment-method'}" /> 

<section class="container" id="payment_method_contaniner">
      <div class="row">
        <div class="col-sm-12 col-md-12 col-lg-12">
          <div class="row">
            <div class="col-sm-12">
              <h1 class="payment_method_title">Payment methods</h1>
            </div>
          </div>
          <div class="row">
            <div class="col-sm-12">
              <div class="row card_data">

                
              </div>
            </div>
          </div>
          <div class="row payment_terms">
            <div class="col-sm-12">
              <h3 class="terms_title">Payment terms</h3>
              <p>
                MasterCard, VISA, Discover, and American Express credit cards,
                purchase cards and major bank debit cards are accepted. Payment
                via net thirty (30) days is available to businesses, schools and
                agencies or as otherwise specified by seller subject to credit
                approval. For International Orders, MasterCard, VISA, and
                American Express credit cards are accepted. Payment via open
                credit account with Net thirty (30) days may be established for
                companies having three U.S. references accepted to seller.
                Prepaid Wire Transfer: You can wire the funds to our bank. We
                will contact you with the total amount, which will include
                shipping charges and a $40 wire transfer fee. Orders will not be
                accepted until funds have been received in full and the Purchase
                Order (PO) has been received.
              </p>
            </div>
          </div>
        </div>
      </div>
    </section>
 <sly
data-sly-use.clientlib="/libs/granite/sightly/templates/clientlib.html"
data-sly-call="${clientlib.js @ categories='payment-method'}" /> 

