
<sly data-sly-use.clientlib="/libs/granite/sightly/templates/clientlib.html" data-sly-call="${clientlib.css @ categories='aboutus-quicklink-clientlib'}" />


<div class="quick_Title_Description">
    <p class="quickslink-title">Quick links</p>
</div>
<div class="quick-link-wd">
<div class="links-section analyticaboutus-quicklinks">
    <div class="quicklink-section">
        <div class="link-container">
            <a class="quicklinks-title ie-tertiary-link" href="${properties.quicklink1}" target="_blank">${properties.quicktext1}
                <span class="aboutus-link_icon1">
                    <i class="fa-solid fa-arrow-right"></i>
                </span>
            </a>
        </div>
       
    </div>

    <div class="quicklink-section">
        <div class="link-container">
            <a class="quicklinks-title ie-tertiary-link" title="New Products" href="${properties.quicklink2}" target="_blank">${properties.quicktext2}
                <span class="aboutus-link_icon1">
                    <i class="fa-solid fa-arrow-right"></i>
                </span>
            </a>
        </div>

    </div>
    <div class="quicklink-section">
        <div class="link-container">
            <a class="quicklinks-title ie-tertiary-link" title="FAQs" href="${properties.quicklink3}" target="_blank">${properties.quicktext3}
                <span class="aboutus-link_icon1">
                    <i class="fa-solid fa-arrow-right"></i>
                </span>
            </a>
        </div>
       
    </div>
    <div class="quicklink-section">
        <div class="link-container">
            <a class="quicklinks-title ie-tertiary-link" title="Same-Day Shipping" href="${properties.quicklink4}" target="_blank">${properties.quicktext4}
                <span class="aboutus-link_icon1">
                    <i class="fa-solid fa-arrow-right"></i>
                </span>
            </a>
        </div>
       
    </div>
    <div class="quicklink-section">
        <div class="link-container">
            <a class="quicklinks-title ie-tertiary-link" title="Latest News" href="${properties.quicklink5}" target="_blank">${properties.quicktext5}
                <span class="aboutus-link_icon1">
                    <i class="fa-solid fa-arrow-right"></i>
                </span>
            </a>
        </div>
       
    </div>
    <div class="quicklink-section">
        <div class="link-container">
            <a class="quicklinks-title ie-tertiary-link" title="Technical Support"  href="${properties.quicklink6}" target="_blank">${properties.quicktext6}
                <span class="aboutus-link_icon1">
                    <i class="fa-solid fa-arrow-right"></i>
                </span>
            </a>
        </div>
       
    </div>

</div>
</div>
<sly data-sly-use.clientlib="/libs/granite/sightly/templates/clientlib.html" data-sly-call="${clientlib.js @ categories='aboutus-quicklink-clientlib'}" />